<img src="<%= asset_path('P7A_6859-c9f384e30390f0659d3faa0449cbe94fbfaf67fa2d0c1c49056a4f1f3d8a1e60.jpg') %>"  width="500" height="300">

<h1>qqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqq</h1>
<h1>qqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqq</h1>
<h1>qqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqq</h1>
<h1>qqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqq</h1>
<h1>qqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqq</h1>
<h1>qqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqq</h1>
<h1>qqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqq</h1>
<h1>qqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqq</h1>
<h1>qqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqq</h1>
<div class="row">
    <div class="col-md-6 col-sm-12 mb-2">
      <div class="card h-100">
        <div class="card-body text-center">
          <h4 class="card-title">Premium Plan</h4>
          <h6 class="card-title">$10</h6>
          <p class="card-text">
            <ul class="text-left">
              <li>Unlimited Image Uploads</li>
              <li>Responsive design</li>
              <li>Access anywhere</li>
            </ul>
          </p>
        </div>
      </div>
    </div>
    <div class="col-md-6 col-sm-12 mb-2">
      <div class="card h-100">
        <div class="card-body text-center">
          <h4 class="card-title">Executive Plan</h4>
          <h6 class="card-title">$25</h6>
          <p class="card-text">
            <ul class="text-left">
              <li>Unlimited Image Uploads</li>
              <li>Responsive design</li>
              <li>Access anywhere</li>
              <li class='extra'>Unlimited projects</li>
            </ul>
          </p>
        </div>
      </div>
    </div>
  </div>